<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="true">
    <mat-toolbar>
      <img src="../../../assets/Logo.svg" alt="Logo" class="logo" />
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let item of navItems" class="nav-item" (click)="selectItem(item)">
        <div class="nav-item-content">
          <div class="nav-item-icon">
            <mat-icon>{{ item.icon }}</mat-icon>
          </div>
          <div class="nav-item-text">
            <span>{{ item.text }}</span>
          </div>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="white-toolbar">
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-button (click)="logout()">Logout</button>
    </mat-toolbar>
    <div class="content">
      <ng-container *ngIf="selectedItem">
        <app-table *ngIf="selectedItem === 'Dashboard'"></app-table>
        <app-barchart *ngIf="selectedItem === 'Bar Chart'"></app-barchart>
        <app-piechart *ngIf="selectedItem === 'Pie Chart'"></app-piechart>
        <app-linechart *ngIf="selectedItem === 'Line Chart'"></app-linechart>
      </ng-container>
      <ng-container *ngIf="!selectedItem">
      <app-table></app-table>
      </ng-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
