<h4>Bar Chart</h4>
<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="regionSalesChartOptions"
  style="width: 100%; height: 400px; display: block;">
</highcharts-chart>

<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="topProfitableCitiesChartOptions"
  style="width: 100%; height: 400px; display: block;">
</highcharts-chart>

<highcharts-chart
  [Highcharts]="Highcharts"
  [options]="topLossMakingCitiesChartOptions"
  style="width: 100%; height: 400px; display: block;">
</highcharts-chart>
